<!doctype html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>WebcamJS Test Page</title>
	<style type="text/css">
		body { font-family: Helvetica, sans-serif; }
		h2, h3 { margin-top:0; }
		form { margin-top: 15px; }
		form > input { margin-right: 15px; }
		#results { float:right; padding:15px; border:1px solid; background:#f8f8f8; }
		#img { width: 50%; height: 50%; }
		
		.left { float: left; }
		.right { float: right; }
		.half { width: 50%; }
	</style>
	<script src="javascripts/echarts.js"></script>
</head>
<body>	
	<div class="left" style="width: 500px;height:400px;">
		<!-- <h1>Demo Page</h1>
		<h3>Demonstrates Fall Down detection</h3> -->
		
		<img id="img">
		<!-- A button for taking snaps -->
		
	</div>
	
	<div class="right" id="graph" style="width: 500px;height:400px;">
	</div>

	<form>
		<input type="button" value="Start" onClick="start()">
		<input type="button" value="Stop" onClick="stop()">
		<input type="button" value="Clear" onClick="erase()">
	</form>
	
	<script language="JavaScript">
		var pic_num = 0;
		var timer = null;
		var res_num = 0;
		var data = [];
		var resData = [0.137248063614,0.141330005589,0.13809230167,0.132261639922,0.126182671008,0.132345156326,0.134323264203,0.132134719347,0.135814102755,0.132163939407,0.128565031373,0.132168858906,0.133245267638,0.133068047884,0.128489172775,0.129412071261,0.129732810469,0.133009924393,0.123086931508,0.132512255524,0.132007572864,0.131641547842,0.127041354092,0.134779221229,0.129122623351,0.131801226429,0.129095892175,0.12832962844,0.128754325005,0.131137654356,0.129783888322,0.122927806665,0.125837934428,0.131788226877,0.122305526492,0.129088241652,0.137355577576,0.130308454945,0.127198388669,0.132666654238,0.124743547709,0.133716295773,0.136151954694,0.125827816827,0.129848999225,0.130920561487,0.135679108433,0.143627827541,0.142764095593,0.142796685697,0.142538129252,0.142125329604,0.140476713193,0.139329185667,0.142652476701,0.140906327161,0.138649132994,0.13555628409,0.13411599389,0.137961354172,0.134120158658,0.137265987862,0.13738678066,0.142967189863,0.14061304033,0.143268524955,0.146102401786,0.145429434373,0.141098132654,0.144073020203,0.144058490751,0.152089166829,0.153402425596,0.149074654681,0.146545198039,0.147384549703,0.148346798788,0.149360027146,0.146944126569,0.157518993162,0.170352497059,0.176629619766,0.292046742883,0.379104293294,0.983562748238,3.0146951035,8.51870599842,7.98191823347,11.0478306119,10.3501387288,13.9810547635,14.1640751675,11.237195362,10.9390344725,11.381727192,11.0667001442,7.8674805124,9.20212465631,7.45762110082,6.97501007097,6.42706694627,6.5091934904,7.28953859825,6.21246664154,6.23701098551,5.83385367119,5.53429366735,6.1121870731,5.84175275838,7.15465697693,6.33214678999,6.99253514591,7.46672656581,7.75172773679,8.72461881322,8.77219693048,8.27465292344,9.27804021848,8.88075418171,8.59011889676,8.96450175093,9.00605569761,9.39538772878,8.90254917733,9.17828178491,9.48783091839,9.52054458802,9.39238860233,8.94931525066,9.32350169453,10.3945817206,10.0644525868,10.525745408,10.7407363642,10.8478339875,10.4508856345,9.63808149588,9.19467575681,9.19477900426,8.58644414503,8.53872640204,8.83803227755,10.118138589,9.775853058,8.85079470918,8.50031261469,8.23509446933,8.35380924114,9.65948250163,8.95930734452,8.15802710226,8.28681319113,9.24099501009];
		var myChart = echarts.init(document.getElementById('graph')); 
		var option;
		option = {
			title: {
				text: '动态数据 + 时间坐标轴'
			},
			tooltip: {
				trigger: 'axis',
			},
			xAxis: {
				type: 'category',
				name: 'x',
				splitLine: {show: false},
				data: [0.0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7,1.8,1.9,2.0,2.1,2.2,2.3,2.4,2.5,2.6,2.7,2.8,2.9,3.0,3.1,3.2,3.3,3.4,3.5,3.6,3.7,3.8,3.9,4.0,4.1,4.2,4.3,4.4,4.5,4.6,4.7,4.8,4.9,5.0,5.1,5.2,5.3,5.4,5.5,5.6,5.7,5.8,5.9,6.0,6.1,6.2,6.3,6.4,6.5,6.6,6.7,6.8,6.9,7.0,7.1,7.2,7.3,7.4,7.5,7.6,7.7,7.8,7.9,8.0,8.1,8.2,8.3,8.4,8.5,8.6,8.7,8.8,8.9,9.0,9.1,9.2,9.3,9.4,9.5,9.6,9.7,9.8,9.9,10.0,10.1,10.2,10.3,10.4,10.5,10.6,10.7,10.8,10.9,11.0,11.1,11.2,11.3,11.4,11.5,11.6,11.7,11.8,11.9,12.0,12.1,12.2,12.3,12.4,12.5,12.6,12.7,12.8,12.9,13.0,13.1,13.2,13.3,13.4,13.5,13.6,13.7,13.8,13.9,14.0,14.1,14.2,14.3,14.4,14.5,14.6,14.7,14.8,14.9,15.0,15.1,15.2,15.3,15.4,15.5,15.6,15.7,15.8,15.9,16.0,16.1,16.2,16.3,16.4,16.5,16.6,16.7,16.8,16.9,17.0,17.1,17.2,17.3,17.4,17.5,17.6,17.7,17.8,17.9,18.0,18.1,18.2,18.3,18.4,18.5,18.6,18.7,18.8,18.9,19.0,19.1,19.2,19.3,19.4,19.5,19.6,19.7,19.8,19.9,20.0] 
			},
			yAxis: {
				type: 'value',
				// boundaryGap: [0, '100%'],
				max: 15,
				min:0,
				splitLine: {
					show: false
				}
			},
			series: [{
				name: '模拟数据',
				type: 'line',
				showSymbol: false,
				hoverAnimation: false,
				data: data
			}]
		};
		myChart.setOption(option);

		function take_snapshot() {
			// take snapshot and get image data
			pic_num = pic_num + 1;
			if (pic_num > 153)	pic_num = 1;
			document.getElementById("img").src = "/images/IMG_9239/IMG_9239_" + pic_num + ".jpg";
		}	

		function flash_graph () {
			//data.push(randomData());
			res_num = res_num + 1;
			if (res_num > 153) {
				data = [];
				res_num = 1;
			}
			data.push(resData[res_num]);
			myChart.setOption({
				series: [{
					data: data
				}]
			});
		};	

		function flash_graph_snapshot() {
			take_snapshot();
			flash_graph();
		}

		function start() {
			if (!timer) {
				take_snapshot();
				timer = setInterval( flash_graph_snapshot, 42 );
			}
		}
		
		function stop() {
			if (timer) {
				clearTimeout( timer );
				timer = null;
			}
		}
		
		function erase() {
			pic_num = 0;
		}

		function randomData() {
			return Math.random() * 10;
		}	

	</script>
	
</body>
</html>

