<!doctype html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>WebcamJS Test Page</title>
	<style type="text/css">
		body { font-family: Helvetica, sans-serif; }
		h2, h3 { margin-top:0; }
		form { margin-top: 15px; }
		form > input { margin-right: 15px; }
		#results { float:right; padding:15px; border:1px solid; background:#f8f8f8; }
		#img { width: 50%; height: 50%; }
		
		.left { float: left; }
		.right { float: right; }
		.half { width: 50%; }
	</style>
	<script src="javascripts/echarts.js"></script>
</head>
<body>	
	<div style="display:flex;justify-content:center;margin-top:150px;">
	<div class="left">
		<!-- <h1>Demo Page</h1>
		<h3>Demonstrates Fall Down detection</h3> -->
		
		<img id="img" style="width: 300px;height:400px;margin-right:20px;">
		<!-- A button for taking snaps -->
		
		<form>
			<input type="button" value="Start" onClick="start()">
			<input type="button" value="Stop" onClick="stop()">
			<input type="button" value="Clear" onClick="erase()">
		</form>
	
	</div>
	
	<div class="left" id="graph" style="width: 500px;height:400px;">
	</div>
	</div>
	<script language="JavaScript">
		var pic_num = 0;
		var timer = null;
		var res_num = 0;
		var data = [];
		var resData = [0.129110541284,0.131846127224,0.130957473584,0.135141361496,0.128958824184,0.11893304318,0.132256542792,0.136744441929,0.136146518898,0.130579443205,0.136760357093,0.135578921054,0.134983446461,0.130943350097,0.131111024036,0.131466934931,0.133385883837,0.131739145261,0.130624117912,0.139149747897,0.132261896618,0.139518699252,0.132851138821,0.139052481881,0.140598314059,0.139554195233,0.137041390488,0.136412589334,0.135689284548,0.133143711919,0.132236192896,0.13698740889,0.130847575702,0.129163791414,0.132353568662,0.133449444018,0.134177893055,0.130787412325,0.130848419184,0.130313865401,0.139454713241,0.13766819478,0.131406632509,0.131777777007,0.132333818406,0.129225689043,0.134414669313,0.137238027438,0.136070648034,0.134122566473,0.140163071463,0.138663414822,0.134822398375,0.139197325788,0.136495576248,0.133788915703,0.13131717281,0.135431571404,0.130304833045,0.13206300646,0.134145298753,0.128267564326,0.12647543445,0.129821919705,0.137725929054,0.135718246447,0.121689188303,0.127820150829,0.129996104788,0.130320405217,0.138380570608,0.132566485965,0.131556460181,0.150630184182,0.138364303854,0.130521502016,0.147868945123,0.129368017329,0.140865595383,0.476926185239,4.13499819605,8.6258552112,16.0838033833,21.5735321868,26.1270747321,28.1994222526,17.9857036793,22.2894049958,11.5006253088,10.7699608468,8.79636030994,8.4804304793,9.02674779857,9.04697133285,8.56649177422,8.32623224283,8.83671282335,8.4712877774,7.97450627404,8.02718640589,9.13790155437,8.54679192598,8.10933155909,8.48828972725,8.52058095239,8.0417517465,8.33122765046,8.07124204469,8.37643520096,8.16411554119,8.07838385939,8.27081443528,8.67348449644,7.67766014464,7.76667017104,7.99439246469,7.68804670216,7.54041485921,7.31618572967,6.65436499093,7.09533253371,7.28706267922,7.74935319556,8.3849071021,8.46393647777,8.20281334322,7.805742656,7.76109061984,7.66885291668,8.21793374961,7.76715038923,7.78952145594,7.91521259344,8.04208787281,7.8709817786,8.14108566623,8.32602101577,8.70583272342,8.34434264108,9.13806497073,9.83942902884,9.93606767602,9.50788398729,9.63457013951,9.27094691365,9.12134768967,8.55767031453,8.96144636468];
		var myChart = echarts.init(document.getElementById('graph')); 
		var option;
		option = {
			title: {
				text: ''
			},
			tooltip: {
				trigger: 'axis',
			},
			xAxis: {
				type: 'category',
				name: 'x',
				splitLine: {show: false},
				data: [0.0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7,1.8,1.9,2.0,2.1,2.2,2.3,2.4,2.5,2.6,2.7,2.8,2.9,3.0,3.1,3.2,3.3,3.4,3.5,3.6,3.7,3.8,3.9,4.0,4.1,4.2,4.3,4.4,4.5,4.6,4.7,4.8,4.9,5.0,5.1,5.2,5.3,5.4,5.5,5.6,5.7,5.8,5.9,6.0,6.1,6.2,6.3,6.4,6.5,6.6,6.7,6.8,6.9,7.0,7.1,7.2,7.3,7.4,7.5,7.6,7.7,7.8,7.9,8.0,8.1,8.2,8.3,8.4,8.5,8.6,8.7,8.8,8.9,9.0,9.1,9.2,9.3,9.4,9.5,9.6,9.7,9.8,9.9,10.0,10.1,10.2,10.3,10.4,10.5,10.6,10.7,10.8,10.9,11.0,11.1,11.2,11.3,11.4,11.5,11.6,11.7,11.8,11.9,12.0,12.1,12.2,12.3,12.4,12.5,12.6,12.7,12.8,12.9,13.0,13.1,13.2,13.3,13.4,13.5,13.6,13.7,13.8,13.9,14.0,14.1,14.2,14.3,14.4,14.5,14.6,14.7,14.8,14.9,15.0,15.1,15.2,15.3,15.4,15.5,15.6,15.7,15.8,15.9,16.0,16.1,16.2,16.3,16.4,16.5,16.6,16.7,16.8,16.9,17.0,17.1,17.2,17.3,17.4,17.5,17.6,17.7,17.8,17.9,18.0,18.1,18.2,18.3,18.4,18.5,18.6,18.7,18.8,18.9,19.0,19.1,19.2,19.3,19.4,19.5,19.6,19.7,19.8,19.9,20.0] 
			},
			yAxis: {
				type: 'value',
				// boundaryGap: [0, '100%'],
				max: 30,
				min:0,
				splitLine: {
					show: false
				}
			},
			series: [{
				name: '模拟数据',
				type: 'line',
				showSymbol: false,
				hoverAnimation: false,
				data: data
			}]
		};
		myChart.setOption(option);

		function take_snapshot() {
			// take snapshot and get image data
			pic_num = pic_num + 1;
			if (pic_num > 148)	pic_num = 1;
			document.getElementById("img").src = "/images/IMG_9264/IMG_9264_" + pic_num + ".jpg";
		}	

		function flash_graph () {
			res_num = res_num + 1;
			if (res_num > 148) {
				data = [];
				res_num = 1;
			}
			data.push(resData[res_num]);
			myChart.setOption({
				series: [{
					data: data
				}]
			});
		};	

		function flash_graph_snapshot() {
			take_snapshot();
			flash_graph();
		}

		function start() {
			if (!timer) {
				take_snapshot();
				timer = setInterval( flash_graph_snapshot, 42 );
			}
		}
		
		function stop() {
			if (timer) {
				clearTimeout( timer );
				timer = null;
			}
		}
		
		function erase() {
			pic_num = 0;
		}

	</script>
	
</body>
</html>

